<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>landing</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-grid.css}" href="/css/bootstrap-grid.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/static}">The Arena</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{../static}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{../tournaments}">Tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{../about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{../contact}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{../register}">Register Now</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Create Tournaments!</h1>
</header>
<main>
    <section>
        <h2>Create Tournament</h2>
        <form action="#" th:action="@{/admin/create}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <label for="rules">Rules:</label>
            <textarea id="rules" name="rules" required></textarea>
            <label for="aantalSpelers">spelers:</label>
            <input type="number" id="aantalSpelers" name="aantalSpelers" required>
            <button type="submit">Create Tournament</button>
        </form>
    </section>

</main>
<footer>
    <p>&copy; 2023 Esports Tournament Hosting and Creation</p>
</footer>
</body>
</html>
